*{
    padding: 0px;
    border: 0px;
}

div{
    background-color: red;
}

h1{
    background-color: black;
}

p{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
